# Dependencies
node_modules/
package-lock.json

# Builds
dist/
*.tsbuildinfo

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Example App Outputs (Keep the API Generator clean)
example/src/api
example/node_modules
example/dist
